<ion-content>
  <div class="heading">
    <h1>Sign Up</h1>
    <p>Please login or signup to continue using our app</p>
  </div>

  <div class="social-login">
    <p>Enter via social network</p>
    <ion-button class="twitter" routerLink="/thank-you">
      <ion-icon name="logo-twitter"></ion-icon>
    </ion-button>
    <ion-button class="facebook" routerLink="/thank-you">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
  </div>
  <div class="email-login">
    <p>Or signup with email</p>
    <div class="formfield">
      <input type="text" name="email" id="email" />
      <label for="email" placeholder="Email">Email</label>
    </div>
    <div class="formfield">
      <input type="password" name="password" id="password" />
      <label for="password" placeholder="Password">Password</label>
    </div>
    <div class="other-links">
      <div class="remenber-me">
        <ion-checkbox></ion-checkbox>
        <p>I agree with provacy policy</p>
      </div>
    </div>
  </div>
  <div class="login-button">
    <ion-button class="login" routerLink="/thank-you">Signup</ion-button>
    <p>Already have an account?<span routerLink="/login"> Login</span></p>
  </div>
</ion-content>
